.forma,
.forma header {
  display: flex;
  flex-direction: column
}

.forma header h1,
.forma header h3 {
  font-size: 36px;
  line-height: 43.88px
}

.forma {
  justify-content: center;
  align-items: center;
  padding: 90px 110px 84px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0, #211e2e 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2509803922);
  border-radius: 100px;
  gap: 65px
}

.forma header {
  justify-content: center;
  align-items: center;
  gap: 21px
}

.forma header h1 {
  font-weight: 700;
  margin-bottom: 9px;
  text-align: left;
  color: #fff
}

.forma header hr {
  width: 414px;
  height: 1px;
  border: none;
  background: linear-gradient(270deg, #343045 0, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
  border-radius: 50%
}

.forma form,
.forma form div {
  display: flex;
  height: auto;
  width: auto
}

.forma header h3 {
  font-weight: 300;
  text-align: left;
  color: #fff
}

.forma form input,
.forma form textarea {
  background-color: transparent;
  font-size: 17px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  color: #fff
}

.forma form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px
}

.forma form div {
  justify-content: center;
  align-items: center;
  gap: 12px
}

.forma form input {
  border: 2px solid #fff;
  border-radius: 40px;
  height: 72px;
  width: 524px;
  text-indent: 42px
}

.forma form input::-moz-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-indent: 42px
}

.forma form input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-indent: 42px
}

.forma form textarea {
  position: relative;
  padding: 27px;
  height: 210px;
  width: 1023px;
  border-radius: 40px;
  border: 2px solid #fff
}

.forma form textarea::-moz-placeholder {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  left: 42px;
  top: 27px;
  color: #fff
}

.forma form textarea::placeholder {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  left: 42px;
  top: 27px;
  color: #fff
}

.forma button {
  width: 214px;
  height: 48px
}